/* ////////////////////////// */
/* IMPORTED FONTS */
/* ////////////////////////// */

@import url('https://fonts.googleapis.com/css2?family=Alice&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* ////////////////////////// */
/* RESET */
/* ////////////////////////// */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Noto Sans", sans-serif;
}

/* ////////////////////////// */
/* GENERAL */
/* ////////////////////////// */

.container {
    max-width: 1000px;
    margin: auto;
}

.bgRed {
    background-color: #FF0000;
}

.puceNone {
    list-style: none;
}

a {
    text-decoration: none;
}

/* ////////////////////////// */
/* FLEXBOX */
/* ////////////////////////// */

.flex {
    display: flex;
    flex-wrap: wrap;
}

.spaceBetween {
    justify-content: space-between;
}

.justifyCenter {
    justify-content: center;
}

.alignCenter {
    align-items: center;
}

.flexEnd {
    justify-content: flex-end;
}

/* ////////////////////////// */
/* WIDTH */
/* ////////////////////////// */

.w20 {
    width: 20%;
}

.w25 {
    width: 25%;
}

.w50 {
    width: 50%;
}

.w70 {
    width: 70%;
}

.w100 {
    width: 100%;
}

/* ////////////////////////// */
/* FONTS */
/* ////////////////////////// */

h1, h2, h3, h4, h5, h6 {
    font-family: "Alice", serif;
}

h1 {
    font-size: 50px;
    margin: 10px 0;
}

h2 {
    font-size: 40px;
    margin: 20px 0;
}

h3 {
    font-size: 30px;
    margin: 20px 0;
}

.fontBlack {
    color: black;
}

.fontBlack:hover {
    color: #4D3E9A;
}

.fontWhite {
    color: white;
}

/* ////////////////////////// */
/* GENERAL CSS */
/* ////////////////////////// */

/* HEADER */

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(202, 202, 202, 0.70);
    padding: 10px 0;
    gap: 50px;
    backdrop-filter: blur(4px);
    z-index: 1000;
}

.side-links a {
    color: #000;
    font-weight: 500;
    font-size: 1.1em;
}

.side-links a:hover {
    color: #4D3E9A;
}

.logo img {
    width: 100px;
}

.side-links {
    display: flex;
    gap: 50px;
}

/* SECTION HERO */
.sectionHero {
    height: 100vh;
    position: relative;
}

.bgHero {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.divHero {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}

.divHero img {
    width: 200px;
}

.divHero > p {
    font-size: 25px;
}

.divHero > h1 {
    font-weight: 400;
}

/* SECTION SERVICES */

.sectionServices {
    position: relative;
    top: -85px;
}

.violetCard {
    background-color: rgba(68, 54, 135, 0.44);
    backdrop-filter: blur(4px);
    box-shadow: 0 4px 4px 0 rgba(155, 155, 155, 0.25);
    display: block;
    width: 23%;
    padding: 20px 0;
    text-align: center;
    color: white;
    border-radius: 25px;
    font-size: 20px;
    transition: transform 0.2s ease;
}

.violetCard:hover {
    transform: scale(1.05);
}

.violetCard span {
    font-size: 30px;
}

/* SECTION HISTORY */

.sectionHistory {
    flex-wrap: nowrap;
}

.sectionHistory h2 {
    color: #4D3E9A;
    font-weight: 400;
}

.divHistory2 p {
    font-size: 0.95rem;
}

.divHistory1 p,
.divHistory3 p {
    font-size: 1.25rem;
}

.sectionHistory img {
    width: 100%;
    object-fit: cover;
}

aside {
    margin-left: 15px;
    top: 100px;
    left: 0;
    position: sticky;
    width: 30%;
    height: 30vh;
    min-height: 320px;
    padding: 50px 20px 50px 50px;
    box-shadow: 0 0 4px 0 #44368770;
    border-radius: 15px 0 0 15px;
    display: block;
}

aside h3 {
    margin-bottom: 10px;
}

aside li {
    margin: 5px 0;
}

aside a {
    color: black;
    font-size: 1.125rem;
}

.historyImg {
    display: block;
}

.divHistoryImg > div {
    width: 49%;
    position: relative;
    margin-bottom: 15px;
}

.divHistory1 {
    padding: 30px 0 80px 0;
}

.sectionHistory h2 {
    margin-bottom: 40px;
}

.divHistory1 p,
.divHistory3 p {
    width: 70%;
}

.divHistoryImg p {
    width: 100%;
    background: rgba(77, 62, 154, 0.44);
    color: white;
    padding: 10px;
    backdrop-filter: blur(13px);
    position: absolute;
    bottom: 0;
    font-style: italic;
}

.divHistory3 {
    padding: 30px 0 80px 0;
}

/* ////////////////////////// */
/* RESPONSIVE */
/* ////////////////////////// */


